# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx

# Model files
*.pkl
*.h5


Lib/